<!-- Parent Template Inhalt wird von jeder Seite genutzt -->
<!doctype html>
<html lang="en">

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <title>EMT</title>
  </head>
  <body>
      <h1> Hier ist die  Navbar </h1>
      <p>*********************</p>

          {% block content %}
              <!-- Hier wird der Teil von content eingefügt -->
          {% endblock %}
  </body>

  <footer>
    <p>***********************</p>
    <p>Fusszeile Kontaktadresse: EBL</p>

  </footer>


</html>
