<!-- Parent Template Inhalt wird von jeder Seite genutzt -->
<!doctype html>
<html lang="en">

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <title>
        {% block title %}
          {{ base_titel | default:"Untitled Page" }}
        {% endblock title %}
      </title>
  </head>
  <body>
      <h1> Hier ist die  Navbar von base.html</h1>
      <p>*********************</p>

          {% block content %}
              <!-- Hier wird der Teil von content eingefügt -->
          {% endblock %}
  </body>

  <footer>
    <p>***********************</p>
    <h1>Hier ist die Fusszeile von base.html</h1>

  </footer>


</html>
