<!-- Parent Template Inhalt wird von jeder Seite genutzt -->
<!doctype html>
<html lang="en">

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <title>
        {% block title %}
          {{ base_titel | default:"Untitled Page" }}
        {% endblock title %}
      </title>
  </head>
  <body>
      <h1> Hier ist die  Navbar von base.html</h1>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'building' %}">Gebäude</a>
      <a href="{% url 'building_new' %}">Neues Gebäude</a>
      <a href="{% url 'counter' %}">Zähler</a>
      <a href="{% url 'counter_new' %}">Neuer Zähler</a>
      <a href="{% url 'readout_new' %}">Neue Ablesung</a>
      <p>*********************</p>
          {% block content %}





          {% endblock %}
  </body>

  <footer>
    <p>***********************</p>
    <h1>Hier ist die Fusszeile von base.html</h1>

  </footer>


</html>
