<!-- Parent Template erweitern -->
{% extends 'emtapp/base.html' %}

<!-- Title einfügen -->
{% block title %} building.html Add Building {% endblock title %}

{% block content %}
<h1>Gebäude erfassen und in Datenbank schreiben</h1>

{% if submitted %}
  <p class="success">
    Das Gebäude ist in der DB erfolreich erfasst worden.
  </p>
{% else %}
  <form action="" method="post" novalidate>
  <table>
    {{ form.as_table }}
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>
  {% csrf_token %}
  </form>
{% endif %}
{% endblock content %}
