<!-- Parent Template erweitern -->
{% extends 'emtapp/base.html' %}

<!-- Title einfügen -->
{% block title %} building_list.html {% endblock title %}

  <!-- Teil wird in content eingefügt -->
{% block content %}
  <h2 class="mt-2" >Registrierte Gebäude</h2>
  <hr class="mt-0 mb-4">

  <ul>
    {% for building in building_list %}
      <li>ID: {{ building.id }}</li>
      <li>Strasse: {{ building.street_number}}</li>
      <li>Ort: {{ building.city }}</li>
      <li>Haustyp: {{ building.building_type }}</li>
      <li>EBF: {{ building.ebf }} [m2]</li>
      <li>Bewohner: {{ building.tenant }} [Per.]</li>
      <li>Heizungstyp: {{ building.heating_type }}</li>
      <li>Wärmeverteilung: {{ building.distribution_type }}</li>
      <li>Wassererwärmung: {{ building.hotwater_type }}</li>
      <li>Kommentar: {{ building.comment }}</li>
      <li>++++++++++++++++++++++++++++++++++++++++++</li>
    {% endfor %}
  </ul>
{% endblock %}
