<!-- Parent Template erweitern -->
{% extends 'emtapp/base.html' %}

<!-- Title einfügen -->
{% block title %}  counter.html Add counter {{ values.0 }} {% endblock title %}

  <!-- Teil wird in content eingefügt -->
{% block content %}
<h2 class="mt-2">Neuer Zähler erfassen und in Datenbank schreiben</h2>
<hr class="mt-0 mb-4">

{% if submitted %}
    <p class="success">
      Der Zähler ist in der DB erfolgreich erfasst worden.
    </p>
  {% else %}
    <form action="" method="POST" novalidate>
    <table class="table  table-responsive table-bordered table-hover">
      {{ form.as_table }}
      <tr>
        <td>&nbsp;</td>
        <td><button type="submit">Speichern</button></td>
      </tr>
    </table>
    {% csrf_token %}
    </form>

{% endif %}

{% endblock %}
