<!-- Parent Template erweitern -->
{% extends 'emtapp/base.html' %}

<!-- Title einfügen -->
{% block title %} diagram.html {{ value_list.0 }} {% endblock title %}

<!-- Teil wird in content eingefügt -->
{% block content %}
    <h2 class="mt-2 text-center">Verbrauch: {{ value_list.0 }}</h2>
    <hr class="mt-0 mb-4">

  	<!-- <link rel="stylesheet" href="template.css" />
  	<script src="template.js"></script> -->

    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- bootstrap -->
    <!-- <script rel="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"></script> -->
    <!-- Bootstrap CSS -->
{#  Bootstrap Bibliothek wird schon in base.html geladen  #}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}

  <script>
  <!-- jQuery Jedes mal wenn Dokument geladen wird soll Funktion ausgeführt werden -->
  $(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d'); //Chart wird bei tag mit id=myChart eingesetzt
    var myChart = new Chart(ctx, {
        type: "bar",
        data: {
            // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            //Werte Ablesedatum aus models Zaehler Datenbank ausgelesen
            // labels: [{% for value in values %} "{{ value.readout_date | date:"d m Y"  }}", {% endfor %}],
            labels: [{% for item in value_list %} "{{ item.readout_date | date:"d m Y"  }}", {% endfor %}],
            datasets: [{
                label: '{{ value_list.0 }}', //'Ablesungen',
                // data: [12, 19, 3, 5, 2, 3],
                //Ablesewerte aus DB ausgelesen
                // data: [{% for value in values %} "{{ value.energy_1 }}", {% endfor %}],
                // Anpassung Diagramm um Energieverbrauch darzustellen
                data: [{% for item in value_list %} "{{ item.consumption_1 }}", {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1
            }]
        },

        options: {
            scales: {
              y: {
                title: {
                  // Titel Y-Achse in der Mitte schreiben
                  display: true,
                  text: "[kWh]",
                  align: "center"
                }
              }
            }
        }

        // options: {
        //   layout: {
        //     padding: {
        //       bottom: 100,
        //       left: 100
        //     }
        //   }
        // }

        // options: {
        //     scales: {
        //         y: {
        //             beginAtZero: true,
        //         }
        //     }
        // }
    });
  });
  </script>

{#  <body>#}

<div class="container">
    <div class="row justify-content-center">
                <canvas id="myChart"  ></canvas>
{#                <canvas id="myChart" width="200" height="200" ></canvas>#}
    </div>
    <div class="row justify-content-center">
        <!-- Info-Übersicht -->
            <div class="col" >
                <ul class="list-group list-group-horizontal-md">
                    <li class="list-group-item flex-fill">Gebäude mit EBF {{ building.ebf }} [m2]</li>
                    <li class="list-group-item flex-fill">Energieverbrauch {{ consumption }} [kWh] in {{ period }} Tagen</li>
                </ul>
                <ul class="list-group list-group-horizontal-md">
                    <li class="list-group-item flex-fill">Spezifischer Energieverbrauch {{ specific_consumption | floatformat:0 }} [kWh/m2]</li>
                    <li class="list-group-item flex-fill">Prognose Jahres-Energieverbrauch {{ consumption_heating_period | floatformat:0 }} [kWh] (8Monate)</li>
                </ul>
                <ul class="list-group">
                    <!-- Button um zu Ableseliste zu wechseln -->
                    <form action="{% url 'readout_list' value_list.0.counter_id %}" method="POST">
                        {% csrf_token %}
                        <br>
                        <button class="btn btn-secondary btn-sm btn-block" type="submit" name="button">Energieverbrauch als Liste anzeigen</button>
                    </form>
                </ul>
            </div>
    </div>
</div>



    <!-- <div>
      <canvas id="myChart" width="200" height="100" ></canvas>
    </div>
  </body> -->

{% endblock %}
