<!-- Parent Template erweitern -->
{% extends 'emtapp/base.html' %}

<!-- Title einfügen -->
{% block title %} diagramm.html {{ value_list.0 }} Diagramm {% endblock title %}

<!-- Teil wird in content eingefügt -->
{% block content %}

  	<!-- <link rel="stylesheet" href="template.css" />
  	<script src="template.js"></script> -->

    <!-- Responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- bootstrap -->
    <!-- <script rel="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"></script> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <script>
  <!-- jQuery Jedes mal wenn Dokument geladen wird soll Funktion ausgeführt werden -->
  $(document).ready(function(){
    var ctx = document.getElementById('myChart').getContext('2d'); //Chart wird bei tag mit id=myChart eingesetzt
    var myChart = new Chart(ctx, {
        // type: 'bar',
        type: "bar",
        data: {
            // labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            //Werte Ablesedatum aus models Zaehler Datenbank ausgelesen
            // labels: [{% for value in values %} "{{ value.readout_date | date:"d m Y"  }}", {% endfor %}],
            labels: [{% for item in value_list %} "{{ item.readout_date | date:"d m Y"  }}", {% endfor %}],
            datasets: [{
                label: '{{ value_list.0 }}', //'Ablesungen',
                // data: [12, 19, 3, 5, 2, 3],
                //Ablesewerte aus DB ausgelesen
                // data: [{% for value in values %} "{{ value.energy_1 }}", {% endfor %}],
                data: [{% for item in value_list %} "{{ item.energy_1 }}", {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1
            }]
        },

        options: {
            scales: {
              y: {
                title: {
                  display: true,
                  text: "[kWh]",
                  // align: "start"
                }
              }
            }
        }

        // options: {
        //   layout: {
        //     padding: {
        //       bottom: 100,
        //       left: 100
        //     }
        //   }
        // }

        // options: {
        //     scales: {
        //         y: {
        //             beginAtZero: true,
        //         }
        //     }
        // }
    });
  });
  </script>

  <body>
    <!-- Button um zu Ableseliste zu wechseln -->
  <form class="" action="{% url 'readout' value_list.0.counter_id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="button">Energieverbrauch als Liste anzeigen</button>
  </form>



    <div class="container">
      <div class="row">
        <div class="col-sm">
          <ul>
            <p>Gebäude: {{ building.street_number }} EBF: {{ building.ebf }} [m2]</p>
            <p>Energieverbrauch {{ consumption }} [kWh] in {{ dauer }} Tagen</p>
            <p>Spezifiescher Energieverbrauch {{ specific_consumption | floatformat:0 }} [kWh/m2]</p>
            <p>Prognose Jahres-Energieverbrauch {{ consumption_heating_period | floatformat:0 }} [kWh] (8Monate)</p>
            <p>Zeitdauer in Tagen:{{ dauer }}</p>
          </ul>
          <!-- <h3> Zähler: {{ values.0 }}</h3> -->
        </div>
        <div class="col-sm">
          <canvas id="myChart" width="200" height="200" ></canvas>
        </div>
      </div>
    </div>




    <!-- <div>
      <canvas id="myChart" width="200" height="100" ></canvas>
    </div>
  </body> -->

{% endblock %}
