<!-- Parent Template erweitern -->
{% extends 'emtapp/base.html' %}

<!-- Teil wird in content eingefügt -->
{% block content %}

  <h1 class="mt-2">Willkommen bei der EBL-Energieberatung</h1>
  <hr class="mt-0 mb-4">
  <br>
  <h2>Energie Monitoring Tool EMT</h2>
  <br>
  <img src="https://via.placeholder.com/450x250" alt="">
    <br>
    <br>
  <p>Ein einfaches Hilfsmittel zum erfassen des Energieverbauchs in Wohn- und Gewerbebauten</p>
  <br>
  <p>Mit uns behalten Sie den Überblick</p>

{% endblock %}
