<!-- Parent Template erweitern -->
{% extends 'emtapp/base.html' %}
{% load static %}

<!-- Teil wird in content eingefügt -->
{% block content %}
<div class="container text-center">
  <h1 class="mt-2">Energie Monitoring Tool</h1>
  <hr class="mt-0 mb-4">
{#  <br>#}
{#  <h2>Energie Monitoring Tool</h2>#}
{#  <br>#}
  <img src="{% static 'emtapp/EMT_Logo_400_400.png' %}" class="img-fluid width: 210% height: 300%" alt="">
{#  <img src="https://via.placeholder.com/450x250" class="img-fluid" alt="">#}
{#  <img src="https://via.placeholder.com/200x200" class="img-fluid" alt="">#}
{#    <br>#}
    <br>
  <h4>Ein einfaches Hilfsmittel zum erfassen des Energieverbauchs in Wohn- und Gewerbebauten</h4>
  <br>
  <h3>Mit uns behalten Sie den Überblick</h3>
</div>
{% endblock %}
