<!-- Parent Template erweitern -->
{% extends 'emtapp/base.html' %}

<!-- Title einfügen -->
{% block title %} readout.html Add Readout {% endblock title %}

{% block content %}
<h2>Neue Ablesung erfassen und in Datenbank schreiben</h2>

<!-- Wenn in Formula Eingabewerte korrekt erfasst wurden -->
{% if submitted %} <!-- Variable submitted ist true, Block wird ausgeführt -->
  <p class="success">
    Die Ablesung ist in der DB erfolgreich erfasst worden.
  </p>

{% else %}
  <form action="" method="POST" novalidate> <!-- novalidate verhindert Validierung im Browser -->
  <table>
    {{ form.as_table }}
    <tr>
      <td>&nbsp;</td>
      <td><button type="submit">Speichern</button></td>
    </tr>

  </table>
  {% csrf_token %}
  </form>

{% endif %}

{% endblock content %}
