<!-- Parent Template erweitern -->
{% extends 'emtapp/base.html' %}

<!-- Title einfügen -->
{% block title %} sign_up.html {{ values.0 }} {% endblock title %}

<!-- Teil wird in content eingefügt -->
{% block content %}
    <h2 class="mt-2 text-center">Registrierung</h2>
    <!-- Horizontalen Strich einfügen -->
    <hr class="mt-0 mb-4">
    <form action="" method="POST">
    <h3> {{ error }} </h3>
        {% csrf_token %}
        {{ form.as_p }}
    <button typ="submit" >Anmelden</button>
    </form>

{% endblock %}